.additional-info  {
	position: absolute;
	top:70px;
	right:0;
	width:656px;
	height:315px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:#fff;
	border:solid 1px black;
}