.card {
	width:350px;
	height:430px;
	display: flex;
	justify-content:center;
	align-items:flex-end;

	@media (max-width:$tablet-width) {
		width:288px;
		height:425px;
	}
}
.card:first-child {
	margin:0 auto 0 0;

	@media (max-width:$tablet-width) {
		margin:0 40px 0 0;
	}
}
.card:nth-child(3) {
	margin:0 0 0 auto;

	@media (max-width:$tablet-width) {
		margin:40px 40px 0 0;
	}
}
.card:nth-child(4) {
	margin:100px 120px 0 0;

	@media (max-width:$tablet-width) {
		margin:40px 0 0 0;
	}
}
.card:nth-child(5) {
	margin:100px 0 0 0; 

	@media (max-width:$tablet-width) {
		margin:40px 0 0 0;
	}
}
.card_greece-img {
	background-image: url("../../img/greeceTabDesk.png");
}
.card_albanium-img {
	background-image: url("../../img/albaniaTabDesk.png");
}
.card_maked-img {
	background-image: url("../../img/makedoniaTabDesk.png");
}
.card_cherno-img {
	background-image: url("../../img/chernogoriaTabDesk.png");
}
.card_croatia-img {
	background-image: url("../../img/croatiaTabDesk.png");
}
.card__name {
	width:215px;
	height:63px;
	display: flex;
	align-items:center;
	justify-content:center;
	background:#fff;
	margin:0;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.415px;
}