.cards {
	width:100%;
	display: flex;
	justify-content:flex-start;

	@media (max-width:$tablet-width) {
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}

	@media (max-width:$mobile-width-only) {
		width:320px;
	}
}
.cards_close {
	display: none;
}