.countries-slide {
	width:899px;
	height:39px;
	display: flex;
	justify-content:space-between;
	padding:0;
	margin:0;
	list-style-type: none;
	border-bottom:solid 1px rgba(44, 46, 63, 0.3);
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.415px;
	color: rgba(44, 46, 63, 0.3);

	&:hover {
		cursor: pointer;
	}

	.active {
		color:$button__accent;
	}

	@media (max-width:$tablet-width) {
		margin:0 auto;
	}
}