.new-arrivals {
	min-width:387px;
	height:189px;
	display: flex;
	flex-direction:column;
	border-right:solid 1px #D7D9DF;
}
.new-arrivals__name {
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	color: #141517;
	margin:0;
}