.page-header {
	width:1170px;
	height:28px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin:36px auto 32px auto;
}

.page-header__logo {
	width:57px;
	height:22px;
}
.page-header__nav-tel {
	width:496px;
	height:28px;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.page-header__tel {
	position: relative;
	font-size:18px;
	text-decoration-line: underline;
	
	&:before {
		content: "";
		top:0;
		left:-36px;
		position: absolute;
		width:30px;
		height:28px;
		background: url('../../img/mobTelephone.svg') no-repeat top left;
	}
}