.prices-info {
	width:316px;
	height:460px;
}
.prices-info__name {
	position: relative;
	font-weight: 600;
	font-size: 55px;
	line-height: 90px;
	color: #2C2E3F;
	margin:5px 0 0 0;

	&:after {
		content:"";
		position: absolute;
		bottom:-17px;
		left:0;
		width:175px;
		height:3px;
		background: $button__accent;
	}
}
.prices-info__text {
	width:306px;
	font-size: 16px;
	line-height: 27px;
	color: rgba(44, 46, 63, 0.7);
	margin:50px 0 0 0;
}