.wrapper-places {
	width:1170px;
	height:auto;
	margin:200px auto 0;
}
.wrapper-places__name {
	position: relative;
	width:358px;
	font-weight: 600;
	font-size: 55px;
	line-height: 80px;
	letter-spacing: -1.245px;
	margin:0;

	&:after {
		content:"";
		position: absolute;
		bottom:-30px;
		left:0;
		width:229px;
		height:4px;
		background:$button__accent;
	}
}
.wrapper-places__text {
	width:358px;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: -0.466667px;
	color: rgba(44, 46, 63, 0.7);
	margin: 64px 0 0 0;
}