.wrapper-tel {
	width:100%;
	max-width:270px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	margin:60px 0 0 46px;

	@media (max-width:$tablet-width) {
		margin:30px 0 0 0;
		max-width:2000px;
		align-items:center;
	}

	@media (max-width:$mobile-width-only) {
		display: none;
	}
}
.wrapper-tel__text {
	font-weight: 500;
	font-size: 22px;
	line-height: 34px;
	color: #141517;
	margin:0;

	@media (max-width:$tablet-width) {
		font-size:18px;
	}
}
.wrapper-tel__tel {
	position: relative;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
	margin:13px 0 0 0;

	svg {
		position:absolute;
		top:4px;
		left:-40px;
		path {
			stroke: $button__accent;
		}
	}

	@media (max-width:$tablet-width) {
		color:$button__accent;
		font-size:18px;
		margin:10px 0 0 0;
		text-decoration: underline;
		svg {
			display: none;
		}
	}
}