.wrapper-modal-form {
	position: relative;
	width:100%;
	height:auto;
	display: flex;
	flex-direction:column;
	align-items:center;
}
.wrapper-modal-form__name {
	font-weight: 600;
	font-size: 25px;
	line-height: 32px;
	text-align: center;
	color: #141517;
	margin:72px 0 0 0;
	width:237px;
}

.wrapper-modal-form__form {
	position: relative;
	display: flex;
	justify-content:center;
	margin:50px 0 0 0;
	flex-direction:column;
	flex-wrap:no-wrap;
	align-items:center;
}
.wrapper-modal-form__form input {
	width:270px;
	height:50px;
	padding:16px 0 15px 15px;
	margin:0;
	background: #FFFFFF;
	border: 1px solid rgba(44, 46, 63, 0.3);
	box-sizing: border-box;
	font-size: 14px;
	line-height: 17px;
	color: #141517;
	font-family: "Montserrat", "Arial", sans-serif;
	outline: none;

	&.error {
		border:solid 1px #FE7865;
	}
	
	&.email {
		&:invalid {
			border:solid 1px #FE7865;
		}
	}

}
.wrapper-modal-form__form input::placeholder {
	color: #141517;
	font-size: 14px;
	line-height: 17px;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: normal;
}
.wrapper-modal-form__form input:first-child {
	padding:16px 0 15px 51px;
	margin:0 0 20px 0;
}
.wrapper-modal-form__form label {
	position: absolute;
	top:17px;
	left:25px;
	font-size: 14px;
	line-height: 17px;

	span {
		position: absolute;
		top:-10px;
		left:-10px;
		color:#FE7865;

	}
}
.wrapper-modal-form__send {
	width:176px;
	height:50px;
	display: flex;
	justify-content:center;
	align-items:center;
	margin:25px 0 0 0;
	padding:0;
	border:none;
	background:$button__accent;
	color:#fff;
	font-size: 12px;
	font-weight:700;
	line-height: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.wrapper-modal-form__close {
	position: absolute;
	top:10px;
	right:15px;
	background: transparent;
	width:31px;
	height:31px;

	&:hover {
		cursor: pointer;
	}
	
    &::before {
		content: "";
		position: absolute;
		top: 15px;
		left: 0px;
		width: 31px;
		height: 1px;
		background: rgba(20, 21, 23, 0.2);
		transform: rotate(45deg);
		box-shadow: none;
  	}

    &::after {
		content: "";
		position: absolute;
		top: 15px;
		left: 0px;
		width: 31px;
		height: 1px;
		background: rgba(20, 21, 23, 0.2);
		transform: rotate(-45deg);
	}
}
