/* index.html */
@import "body.scss";
@import "fonts.scss";
@import "global.scss";
@import "variables.scss";
@import "blocks/page-body.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/page.scss";
@import "blocks/wrapper-header.scss";
@import "blocks/menu.scss";
@import "blocks/menu-mob.scss";
@import "blocks/wrapper-adv-info-image.scss";
@import "blocks/wrapper-adv-info.scss";
@import "blocks/adv-info.scss";
@import "blocks/wrapper-places.scss";
@import "blocks/wrapper-cards.scss";
@import "blocks/countries-cards.scss";
@import "blocks/card.scss";
@import "blocks/wrapper-tabs.scss";
@import "blocks/countries-slide.scss";
@import "blocks/cards.scss";
@import "blocks/tab.scss";
@import "blocks/tab-image.scss";
@import "blocks/tab-review.scss";
@import "blocks/tab-info.scss";
@import "blocks/wrapper-prices.scss";
@import "blocks/wrapper-sec-prices.scss";
@import "blocks/prices-info.scss";
@import "blocks/wrapper-tel.scss";
@import "blocks/price.scss";
@import "blocks/wrapper-price-name-count.scss";
@import "blocks/wrapper-additional.scss";
@import "blocks/additional-info.scss";
@import "blocks/new-arrivals.scss";
@import "blocks/wrapper-list.scss";
@import "blocks/list.scss";
@import "blocks/contacts.scss";
@import "blocks/site-info.scss";
@import "blocks/wrapper-modal.scss";
@import "blocks/wrapper-modal-form.scss";
@import "blocks/wrapper-page-modal-hover.scss";
@import "blocks/wrapper-modal-success.scss";
